body {
    background-color: #80868d;
    min-height: 100vh;
    margin: auto;
    max-width: 42rem;
    margin: auto;
}

.plumBlossom {
    color: #ff758f;
    text-align: center;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    margin-top: 210px;
}

.mountHua {
    color: #ff758f;
    text-align: center;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.word {
    color: #ccd6f6;
    text-align: center;
    font-family: vcr osd mono;
}

div {
    text-align: center;
}

@keyframes color {
    0% {
        color: #72ddf7
    }

    30% {
        color: #8ae5f9
    }

    60% {
        color: #a3edfb
    }

    90% {
        color: #bcf4fd
    }

    100% {
        color: #d4fcff
    }
}

.word {
    -webkit-animation: color 20s infinite;
    animation: color 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

a {
    text-decoration: none;
}

a visited {
    text-decoration: none;
}

