body {
    min-height: 100vh;
    margin: auto;
    max-width: 42rem;
    margin: auto;
}

.plumBlossom {
    color: #ff758f;
    text-align: center;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    margin-top: 210px;
}

.mountHua {
    color: #ff758f;
    text-align: center;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.word {
    color: #ccd6f6;
    text-align: center;
    font-family: vcr osd mono;
}

div {
    text-align: center;
}

@keyframes color {
    0% {
        color: #fdc5f5
    }

    30% {
        color: #f7aef8
    }

    60% {
        color: #b388eb
    }

    90% {
        color: #8093f1
    }

    100% {
        color: #72ddf7
    }
}

.word {
    -webkit-animation: color 20s infinite;
    animation: color 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

a {
    text-decoration: none;
}

a visited {
    text-decoration: none;
}


@keyframes bgcolor {
    0% {
        background-color: #e5e7eb
    }

    30% {
        background-color: #ccd0d6
    }

    60% {
        background-color: #b3b7be
    }

    90% {
        background-color: #999ea5
    }

    100% {
        background-color: #80868d
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
